.fruit {
  background-color: white;
  margin: 10px;
  padding: 4px;
  text-align: center;
  width: 4.5em;
  height: 2.2em;
  float: left;
}
.apple {
  background-color: red;
}
.pear {
  background-color: green;
  color: white;
}
.orange {
  background-color: orange;
}
